*.class

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
.settings/*
/target

###########
# Mac crap
###########

.DS_Store

##########
# DB crap
##########

*.properties
data/*.lck
data/*.bck
data/*.properties
data/*.log
*.log


#################################
# Ignore Play! working directory
#################################
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
.target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
