@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Sign Up 
}

@main(title, nav = "signup") {
    
    @helper.form(action = routes.Application.userIntroducirNuevosDatos) {
        
        <fieldset>
            <legend>Informacion de registro</legend>
            
            @inputText(
                signupForm("Nombre de usuario"), 
                '_label -> "Username", 
                '_help -> "Escoja un nombre válido"                
            )
            
            @inputText(
                signupForm("email"), '_label -> "Email",
                '_help -> "Introduzca un correo valido."
            )
            
            @inputPassword(
                signupForm("password.main"), 
                '_label -> "Password",
                '_help -> "El password debe tener 6 caracteres como mínimo. "
            )
            
            @inputPassword(
                signupForm("password.confirm"), 
                '_label -> "Repeat password",
                '_help -> "Repita el password."              
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Sign Up">
            <a href="@routes.Application.index.scala" class="btn">Cancel</a>
        </div>
        
    }
    
}