@(users: List[User], form: Form[controllers.general.DeleteUser])

@import play.i18n._

<!DOCTYPE html>

<html>
    <head>
        <title>titulo</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bars.css")' >
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <header>
        <a href="/"><img src="@routes.Assets.at("images/observaTerra.png")" alt="ObservaTerraLogo" />
        <h1>ObservaTerra</h1></a>
     </header>
     <h1>Titulo</h1>    

     Coso llamado content

 @helper.form(controllers.general.routes.DeleteUser.authenticate) {

            <h1>Introduzca el nombre del usuario:</h1>

            @if(form.hasGlobalErrors) {
                <p class="error">
                    @form.globalError.message
                </p>
            }

            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }

            <p>
                <input disabled type="id" name="id" value="@form("id").value">
            </p>

            <p>
                <button type="submit">Borrar Usuario</button>
            </p>

        }
    </body>
</html>
