@(form: Form[controllers.general.Login])

<html>
    <head>
        <title>Login Example</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        @helper.form(controllers.general.routes.Login.authenticate) {


            <h1>Sign in</h1>

            @if(form.hasGlobalErrors) {
                <p class="error">
                    @form.globalError.message
                </p>
            }

            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }

            <p>
                <input type="login" name="loginString" placeholder="Login" value="@form("loginString").value">
          </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <button type="submit">Login</button>
            </p>

        }
    </body>
</html>
