@(title: String)(content: Html)

@import play.i18n._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bars.css")' >
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <header>
        <a href="/"><img src="@routes.Assets.at("images/observaTerra.png")" alt="ObservaTerraLogo" />
        <h1>ObservaTerra</h1></a>
     </header>
     <h1>@title</h1>    

     @content

    <footer>
    <nav>
    @Messages.get("Admin")
    <ul>
    <li><a href="@routes.Application.showCountries">Countries</a>
	<li><a href="@routes.Application.showIndicators">Indicators</a>
	<li><a href="@routes.Application.showObservations">Observations</a>
	</ul>
    </nav>
    </footer>
    </body>
</html>
