@(observations: List[Observation],
  countries: List[Country],
  indicators: List[Indicator],
  form: Form[Observation])

@import play.i18n._
@import helper.twitterBootstrap._

@main(Messages.get("list.observations")) {
  <div id="wrap">
<div class="page-header">
<h1>@Messages.get("observations")</h1>
</div>

<tableclass="table table-bordered">
<tr>
<th class="field-label col-md-3 active">>Id</th>
<th class="field-label col-md-3 active">>Country</th>
<th class="field-label col-md-3 active">>Indicator</th>
<th class="field-label col-md-3 active">>Value</th>
<th class="field-label col-md-3 active">>Remove</th>
</tr>
@for(obs <- observations) {
  <tr>
  <td>@obs.id</td>
  <td>@obs.country.name</td>
  <td>@obs.indicator.name</td>
  <td>@obs.obsValue</td>
  <td>@helper.form(routes.Admin.deleteObservation(obs.id)) {
               <input type="image"
                      src="@{routes.Assets.at("images/delete.gif")}"
                      alt='@{Messages.get("delete.observation")}'>
         }
   </td>
  </tr>

}
</table>
<p class="lead">
<h2>@{Messages.get("add.observation")}</h2></p>

	@helper.form(action = routes.Admin.newObservation()) {

        @helper.inputText(form("value"))

         <select name="countryId">
         @for( country <- countries) {
         	<option value="@country.code">@country.name</option>
         }
        </select>

        <select name="indicatorId">
         @for( indicator <- indicators) {
         	<option value="@indicator.code">@indicator.name</option>
         }
        </select>

        <input type="submit" class="btn btn-default" value="@{Messages.get("create")}">

    }

<p class = "lead"><h2>@Messages.get("upload.excel.file")</h2></p>

@helper.form(action = routes.API.uploadExcel,
	  'enctype -> "multipart/form-data") {

    <input type="file" name="excel">

    <p>
        <input type="submit"  class="btn btn-default">
    </p>

}

}
</div>
