@(observations: List[Observation], countries: List[Country], indicators: List[Indicator])

@import play.i18n._


<html>
    <head>
        <title>Aqui pondriamos por jemplo el nombre del usuario con arrroba</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bars.css")' >
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
      <div id="wrap">
        div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">ObservaTerra</a>
        </div>
        <div id="session" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="login">Logout sin implementar</a>
        </ul>
        </div>
        </div><!--/.nav-collapse -->
        </div>

        <div class="page-header">
        <h1>ObservaTerra</h1></a>
     </div>
<h1>@Messages.get("Welcome")</h1>
<h2>@Messages.get("list.observations")</h2>
<table class="table table-bordered">
<tr>
<th class="field-label col-md-3 active">>@Messages.get("Country")</th>
<th class="field-label col-md-3 active">>@Messages.get("Indicator")</th>
<th class="field-label col-md-3 active">>@Messages.get("Value")Value</th>
</tr>
@for(observation <- observations) {
	<tr>
	<td>@observation.country.name</td>
	<td>@observation.indicator.name</td>
	<td>@observation.obsValue</td>
	</tr>
}
</table>

<h2>@Messages.get("Bar.chart")</h2>
<ul>
@for(indicator <- indicators) {

 <li><a href="@routes.Application.bars(indicator.code)">@indicator.name</a></li>

}
</ul>
</div>
    </body>
</html>
